rectories #
/build/
/bin/
target/

 # OS Files #
 .DS_Store

 *.class

    # Package Files #
    *.jar
    *.war
    *.ear
    *.db

        ######################
	    # Windows
	        ######################

		  # Windows image file caches
		  Thumbs.db

		   # Folder config file
		   Desktop.ini
		   *.pydevproject
		   .project
		   .metadata
		   bin/**
		   tmp/**
		   tmp/**/*
		   *.tmp
		   *.bak
		   *.swp
		   *~.nib
		   local.properties
		   .classpath
		   .settings/
		   .loadpath
		   /src/main/resources/rebel.xml
		   # External tool builders
		   .externalToolBuilders/
		   *.properties
